/* Estilo da Footer */
footer {
  margin: 0px;
  padding: 0px;
  background-color: #000;
  width: 100%;
}

.tfFooterContainer {
  margin: 0 auto;
  padding: 20px 0px;
  max-width: 1200px;
}

.tfFooterConteudo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tfFooterListas {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;

  color: #fff;
  align-items: flex-start;
}

.tfFooterLogo {
  width: 200px;
}

.tfFooterListas ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  max-width: 190px;
}

.tfFooterListas h3 {
  color: #fff;
  font-size: 16px;
  max-width: 170px;
  margin-bottom: 20px;
}

.tfFooterListas ul a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.tfFooterListas li {
  margin-bottom: 20px;
  padding: 0px;
}

.tfFooterListaIcons {
  display: flex;
  gap: 20px;
}

.tfFooterListaIcons i {
  font-size: 30px;
  color: #fff;
}

.tfFooterDireitos {
  margin: 0 auto;
  margin-top: 40px;
  padding: 0px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-top: 2px solid #fff;
  max-width: 100%;
  padding-top: 20px;
}

@media (max-width: 1100px) {
  .tfFooterListas {
    padding: 0px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: center;
    gap: 30px;
    justify-content: space-between;
  }

  .tfFooterLista {
    justify-items: center;
    align-self: center;
  }

  .tfFooterLogoContainer {
    display: none;
  }
}

@media (max-width: 800px) {
  .tfFooterListas {
    padding: 0px;
  }
}

@media (max-width: 550px) {
  #del {
    display: none;
  }

  .tfFooterListas {
    grid-template-columns: 1fr;
  }

  .tfFooterLogoContainer {
    display: block;
  }

  .tfFooterLista + .tfFooterLista {
    margin-top: 30px;
  }

  .tfFooterLista ul {
    justify-items: center;
  }

  .tfFooterConteudo {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
  }
}
