/* Estilo da Footer */
footer {
  margin: 0px;
  padding: 0px;
  background-color: #000;
  width: 100%;
}

.tfFooterContainer {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1200px;
}

.tfFooterConteudo {
  margin: 0 auto;
}

.tfFooterLista {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  justify-content: space-around;
}

.tfFooterLista a {
  text-decoration: none;
  color: #fff;
}

.tfFooterLista li {
  display: grid;
  text-align: left;
  gap: 20px;
}

.tfFooterRedes {
  font-size: 2.5rem;
}

.tfFooterDireitos {
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #fff;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.tfAlinha {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tfAlinha i {
  font-size: 2rem;
}

@media (max-width: 1100px) {
  .tfFooterConteudo {
    padding: 0px 30px;
  }

  .tfAlinha i {
    font-size: 1.5rem;
  }

  .tfFooterLista {
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto;
    text-align: center;
    gap: 60px;
  }

  .tfFooterLista li {
    text-align: center;
  }

  .tfLogoFooter {
    display: none !important;
  }

  .tfFooterLista li a {
    padding: 10px;
  }

  .tfAlinha {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .tfFooterContainer {
    padding-top: 60px;
  }

  .tfAlinha {
    justify-content: center;
  }

  .tfLogoFooter {
    display: block !important;
  }

  .tfNossos,
  .tfSobre {
    display: none !important;
  }

  .tfFooterLista {
    grid-template-columns: 1fr;
    gap: 70px;
  }

  .tfFooterDireitos {
    margin-top: 60px;
  }
}
