/* Estilização do corpo da página */
.tfFormularioPropostaTituloContainer {
  margin: 0 auto;
  padding: 100px 0px 0px 0px;
  max-width: 100%;
  background-color: #083b38;
}

.tfFormularioPropostaTituloConteudo {
  margin: 0 auto;
  padding: 100px 0px 100px 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.tfFormularioPropostaTituloConteudo h1 {
  color: #fff;
  font-size: 50px;
  font-weight: initial;
}

.tfFormularioPropostaContainer {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  max-width: 1200px;
}

.tfFormularioPropostaConteudo {
  margin: 0 auto;
  padding: 0px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.tfFormularioPropostaTitulo h1 {
  color: #7f1d1d;
  font-size: 50px;
  font-weight: initial;
}

.tfFormularioPropostaAreaContainer {
  background-color: #fff;
  padding: 0px;
  margin: 50px;
  border-radius: 20px;
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
}

.tfFormularioPropostaAreaConteudo {
  margin: 0 auto;
  padding: 30px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tfFormularioPropostaAreaConteudo h2 {
  margin: 0 auto;
  padding: 0px 0px 60px 0px;
  color: #d65c57;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  flex-wrap: wrap;
}

.tfFormularioPropostaCaixa {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #083b38;
  border-radius: 10px;
}

.tfFormularioPropostaCaixaConteudo {
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
}

.tfFormularioPropostaCaixaEsq {
  max-width: 500px;
  width: 400px;
  color: #fff;
  font-size: 18px;
  box-sizing: border-box;
}

.tfFormularioPropostaCaixaEsq h3 {
  margin: 0px;
  padding: 0px;
  font-size: 26px;
  font-weight: bold;
}

.tfFormularioPropostaCaixaEsq p {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.tfFormularioPropostaCaixaEsqContatos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tfFormularioPropostaCaixaContato {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.tfFormularioPropostaCaixaContato i {
  font-size: 50px;
}

.tfFormularioPropostaCaixaContato span {
  display: block;
  font-weight: bold;
}

.tfFormularioPropostaCaixaContato a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.tfLinhaHorizontal {
  width: 100%;
  height: 4px;
  background-color: #f6801d;
  margin: 40px 0;
}

.tfFormularioPropostaCaixaDir {
  margin: 0 auto;
  padding: 0px;
  max-width: 400px;
}

form {
  margin: 0px;
  padding: 0px;
  max-width: 400px;
}

.tfFormularioPropostaCaixaDirInputNome {
  margin: 0px;
  padding: 0px;
  max-width: 400px;
}

.tfFormularioPropostaCaixaDirInputNome input {
  margin: 0px 0px 5px 0px;
  padding: 10px;
  width: 100%;
  height: 45px;
  border: 2px solid #f6801d;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.22);
  font-size: 16px;
  box-sizing: border-box;
  color: #fff;
}

.tfFormularioPropostaCaixaDirInputContatos {
  margin: 0px;
  padding: 0px;
  max-width: 400px;
  display: flex;
  gap: 5px;
}

.tfFormularioPropostaCaixaDirInputContatos input {
  margin: 0px 0px 5px 0px;
  padding: 10px;
  width: 50%;
  height: 45px;
  border: 2px solid #f6801d;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.22);
  font-size: 16px;
  box-sizing: border-box;
  color: #fff;
}

.tfFormularioPropostaCaixaDirInputEndereco {
  margin: 0px;
  padding: 0px;
  max-width: 400px;
  display: flex;
  gap: 5px;
}

.tfFormularioPropostaCaixaDirInputEndereco input {
  margin: 0px 0px 5px 0px;
  padding: 10px;
  width: 50%;
  height: 45px;
  border: 2px solid #f6801d;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.22);
  font-size: 16px;
  box-sizing: border-box;
  color: #fff;
}

.tfFormularioPropostaCaixaDirInputMensagem {
  margin: 0px;
  padding: 0px;
  max-width: 400px;
}

.tfFormularioPropostaCaixaDirInputMensagem textarea {
  margin: 0px 0px 5px 0px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  height: 100px;
  max-height: 100px;
  min-height: 45px;
  border: 2px solid #f6801d;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.22);
  font-size: 16px;
  box-sizing: border-box;
  color: #fff;
}

form button {
  margin: 0 auto;
  padding: 0px;
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #f6801d;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

form button:active {
  background-color: #d65c57;
  transition: 0.1s ease;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
}

@media (max-width: 550px) {
  .tfFormularioPropostaTituloConteudo h1 {
    font-size: 40px;
    text-align: center;
  }

  .tfFormularioPropostaCaixaContato {
    align-self: center;
  }

  .tfFormularioPropostaCaixaEsqContatos a {
    font-size: 14px;
  }

  .tfFormularioPropostaCaixaEsqContatos i {
    display: none;
  }

  .tfFormularioPropostaCaixaEsq {
    text-align: center;
  }

  .tfFormularioPropostaAreaConteudo h2 {
    font-size: 26px;
  }

  .tfFormularioPropostaCaixaDirInputNome {
    max-width: 300px;
  }

  .tfFormularioPropostaCaixaDirInputContatos {
    max-width: 300px;
  }

  .tfFormularioPropostaCaixaDirInputEndereco {
    max-width: 300px;
  }

  .tfFormularioPropostaCaixaDirInputMensagem {
    max-width: 300px;
  }

  .tfFormularioPropostaCaixaDirInputMensagem textarea {
    max-width: 300px;
  }

  form button {
    width: 300px;
  }

  .tfFormularioPropostaCaixaEsq h3 {
    font-size: 22px;
    margin: 0 auto;
    max-width: 90%;
  }

  .tfFormularioPropostaCaixaEsq p {
    font-size: 14px;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
  }

  .tfLinhaHorizontal {
    width: 80%;
    margin: 20px auto;
  }
}

@media (max-width: 400px) {
  .tfFormularioPropostaCaixaDir {
    width: 250px;
  }

  .tfFormularioPropostaCaixaConteudo {
    padding: 60px;
    width: 300px;
  }

  .tfFormularioPropostaBotao {
    width: 250px;
  }
}
